<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error 500</title>
    <link rel="stylesheet" href="/css/error.css">
</head>
<body>

    <main class="error-container">
        <div class="error-content">
            <h1>500</h1>
            <h2>Error Interno del Servidor</h2>
            <p>Hubo un problema interno en el servidor.</p>
            <a href="/" class="btn-volver">Volver al inicio</a>
        </div>
    </main>

</body>
</html>